.content img {
    width: 100%;
    height: 120px;
}

.content .descriptionBlock {
    padding: 10px;
}

.content .descriptionBlock img {
    width: 140px;
    height: 140px;
}

.contact {
    padding-left: 10px;
}

.formError {
    display: inline-block;
    color: RED;
    border: 1px solid red;
    padding: 5px;
}
